*{
	margin:0px;
	padding:0px;
}
header,section,footer,nav,aside,hgroup{
	display:block;
}
h1{
	font:bold 30px Arial;	
}
h2{
	font:italic 20px Arial;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
}
#big_wrapper{
	max-width:1000px;
	margin:20px 0px;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
	background:#f8eee7;
}
#top_header{
	background:#94618E;
	color:white;
	padding:20px;
}
#top_menu{
	border:red;
	background:#49274a;
}
#top_menu li{
	list-style:none;
	display:inline-block;
	color:white !important;
	font:bold 14px Arial;
	padding:10px;
}
#top_menu li:hover{
	background:#f8eee7;
}
#top_menu li a{
	color:white !important;
	text-decoration:none;
}
#top_menu li:hover a{
	color:#49274a !important;
}
#new_div{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#main_section{
	-webkit-box-flex:1;
	margin:20px;
	padding:20px;
}
#main_section footer p{
	text-align:right;
}
#side_news{
	width:220px;
	margin:20px 0px;
	padding:30px;
	background:#90617E;
	color:white;
}
#the_footer{
	text-align:center;
	padding:20px;
	border-top:2px solid #49274a;
	font:italic 15px Arial;	
}